.dropzone {
    border: 3px solid black;
    width:  100%;
	height: 60px;
	border-radius: 15px;

    background-color: #ee7f00;
    font-size: large;
	
	display: flex;
	align-items: center;
	justify-content: center;
}

.dropzone:hover {
    background-color: #bd6500;
	cursor: pointer;
}